<a href="https://colab.research.google.com/github/oskarkon/dw_matrix_car/blob/master/work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import io 

f=lambda x: (x.replace(',','.'))
headers=['pro_data','pro_typ','modulo','saldo_plz','saldo_usd','waluta','typ_pro','podmiotowosc','data_otwarcia','data_zapadalnosci','zap_niesplacony_wal']
dtypes={'modulo':'int64','pro_typ':'string','waluta':'string'}
parse_datess=['pro_data','data_otwarcia','data_zapadalnosci']

from google.colab import files 
uploaded = files.upload()

In [ ]:
kredyty=pd.read_csv(io.BytesIO(uploaded['kredyty202007.csv']), sep=';', names=headers,header=0,dtype=dtypes,parse_dates=parse_datess,converters={'saldo_plz':f , 'saldo_usd':f, 'zap_niesplacony_wal':f})

kredyty['saldo_plz']=pd.to_numeric(kredyty['saldo_plz'],errors='coerce')
kredyty['saldo_usd']=pd.to_numeric(kredyty['saldo_usd'],errors='coerce')
kredyty['zap_niesplacony_wal']=pd.to_numeric(kredyty['zap_niesplacony_wal'],errors='coerce')
kredyty.head(3)

  pro_data pro_typ  ...  data_zapadalnosci  zap_niesplacony_wal
0   202007     KRE  ...         2026-07-20             44428.85
1   202007     KRE  ...         2021-03-05               539.30
2   202007     KRE  ...         2021-05-15               249.30

[3 rows x 11 columns]